
OpenCVCPP/.vs/OpenCVCPP/v16/.suo
*.db
*.ipch
*.jpg
*.pdb
*.iobj
*.obj
*.tlog
*.idb
*.log
*.ipdb
*.ilk
*.enc
OpenCVCut/.vs/OpenCVCut/v16/.suo
OpenCVCut/.vs/OpenCVCut/v15/.suo
Find_Bank_Card_Number/.vs/Find_Bank_Card_Number/v16/.suo
*.png
*.pyc
*.tfrecord
Card_Number_Identification/hello.py
*.opendb
